<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fliud">
        <div class="navbar-header col-xs-6">
            <a class="navbar-brand navtitle">My Movie</a>
        </div>

        <div class="navbar-right col-xs-6">
            <a class="navbar-brand navtitle pull-right">Hello, {{user.username}}</a>
        </div>

    </div>
</nav>

<div class="row row-offcanvas row-offcanvas-left" off-canvas-menu>
    <div class="col-sm-3 col-md-2 sidebar-offcanvas toggle-nav" id="sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="#/user/{{user._id}}"><i class="glyphicon glyphicon-cog"></i> My Account </a></li>
            <li><a href="#/user/{{user._id}}/movie"><i class="glyphicon glyphicon-film"></i> Movies </a></li>
            <li><a href="#/user/{{user._id}}/review"><i class="glyphicon glyphicon-comment"></i> My Review </a></li>
            <li><a href="#/user/{{user._id}}/following"><i class="glyphicon glyphicon-user"></i> Following </a></li>
            <li><a href="#/user/{{user._id}}/follower"><i class="glyphicon glyphicon-user"></i> Follower </a></li>
            <li><a ng-click="model.logout()"><i class="glyphicon glyphicon-log-out"></i> Log out </a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-md-10" ng-controller="ValidationController as check">
        <a class="pull-left visible-xs toggle-nav glyphicon glyphicon-menu-hamburger" ng-click="toggleMenu()"></a>
        <form name="myForm" id="myForm" novalidate>
            <h1 class="myTitle">Change Password</h1>
            <div ng-show="errorShow" class="alert alert-danger"> Old Password is wrong!</div>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-lock"></i>
                <input name="password" id="password" type="password" ng-model="model.myPassword"
                       class="form-control" required placeholder="old password"/>
                <span ng-show="myForm.password.$invalid" class="error">
                    Please enter the old password!
                </span>
            </div><br>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-lock"></i>
                <input name="newPassword" id="newPassword" type="password" ng-model="model.newPassword"
                       required class="form-control" placeholder="new password"/>
                <span ng-show="myForm.newPassword.$invalid" class="error">
                    Please enter a new password!
                </span>
            </div><br>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-lock"></i>
                <input name="verify" id="verify" type="password" ng-model="model.password_verify"
                       class="form-control" required placeholder="verify password"
                       password-verify="model.newPassword"/>
                <span ng-show="myForm.verify.$error.required" class="error">
                    Please verify the new password!
                </span>
                    <span id="check" ng-show="myForm.verify.$error.passwordVerify" class="error">
                    Passwords do not match!
                </span>
            </div><br>
            <button class="btn btn-success btn-block" ng-disabled="!myForm.$valid" ng-click="model.updatePassword()">Update</button>
            <a class="btn btn-danger btn-block" href="#/user/{{user._id}}">Cancel</a>
        </form>
    </div>
</div>
