<nav class="navbar navbar-dark navbar-fixed-top bg-primary">
    <div class="container-fluid row">
        <div class="col-xs-4 hidden-xs">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{editWebsite.uid}}">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
                <a class="navbar-brand">
                    Websites
                </a>

                <a class="navbar-text pull-right" href="#/user/{{editWebsite.uid}}/website/new">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="navbar-header">
                <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="#/user/{{editWebsite.uid}}/website">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
                <a class="navbar-brand">
                    Edit Website
                </a>

                <a class="navbar-text pull-right" ng-click="editWebsite.saveEdit()">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-xs-4 hidden-xs border-right">
        <ul class="list-group">
            <li ng-repeat="website in websites" class="list-group-item">
                <a href="#/user/{{editWebsite.uid}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <a class="pull-right" href="#/user/{{editWebsite.uid}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog glyphicon-cog-primary"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-8">
        <form>
            <div class="form-group">
                <label for="name">Website Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name"
                       value="{{websiteDetail.name}}">
            </div>
            <div class="form-group">
                <label for="description">Website Description</label>
                <textarea class="form-control" id="description" rows="6" placeholder="Description">
                    {{websiteDetail.description}}
                </textarea>
            </div>
        </form>
        <a class="btn btn-danger  btn-block" ng-click="editWebsite.deleteWeb()">Delete</a>
    </div>
</div>

<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="#/user/{{newWebsite.uid}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
