<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#/user/{{websiteList.uid}}">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
        </a>
        <a class="navbar-brand">
            Websites
        </a>

        <a class="navbar-text pull-right" href="#/user/{{websiteList.uid}}/website/new">
            <span class="glyphicon glyphicon-plus">
            </span>
        </a>
    </div>

</nav>

<div class="right-scroll container">
    <ul class="list-group">
        <li ng-repeat="website in websites" class="list-group-item">
            <a href="#/user/{{websiteList.uid}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a class="pull-right" href="#/user/{{websiteList.uid}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog glyphicon-cog-primary"></span>
            </a>
        </li>
    </ul>

</div>

<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="#/user/{{websiteList.uid}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>