input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 53px;
    height: 100%;
}

.table.table-borderless,
.table.table-borderless th{
    border:none;
    color: #428bca;
}

.list-group-item{
    border:none;
}

html
{
    height: 100%;
}

.relative-position {
    position: relative;
}
.absolute-position {
    position: absolute;
}
.list-element-menu {
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
}
.zero-right-padding {
    padding-right: 0px;
}

.navbar-brand {
    color:white;

}

.navbar-header {
    width: 100%;
}

.navbar-text {
    color:white;
}

.navbar-link {
    color:white;
}

.container-fluid,
.col-xs-4,
.col-xs-12,
.col-sm-8{
    height: 100%;
}

.icon {
    text-align: right;
}

.lheader {
    color:black;
    font-size:40px;
}

.mheader {
    color:black;
    font-size:20px;
}

.sheader {
    color:black;
    font-size:10px;
}

.glyphicon-menu-hamburger {
    color: black;
}

.right-scroll{
    padding-top: 15px;
    margin-bottom: 50px;
    top: 0px;bottom: 0px;
    position: relative;
    height: calc(100vh - 100px);
    overflow: auto;
}
