input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 53px;
    height: 100%;
}

.table.table-borderless tbody,
.table.table-borderless tr,
.table.table-borderless td,
.table.table-borderless th {
    border:none;
}

.border-right {
    border-right: 1px solid black;
    height: 100%;
}

html
{
    height: 100%;
}

.relative-position {
    position: relative;
}
.absolute-position {
    position: absolute;
}
.list-element-menu {
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
}
.zero-right-padding {
    padding-right: 0px;
}