<nav class="navbar navbar-dark navbar-fixed-top bg-primary">
    <div class="container-fluid row">
        <div class="col-xs-12 col-sm-12">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="editWidget.goBack()">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand">
                    Edit Widget
                </a>
                <a class="navbar-text pull-right" ng-click="editWidget.updateWidget()">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" required
                   id="name" placeholder="Image Name" ng-model="widget.name">
            <span ng-show="myForm.name.$invalid">
                Please enter a name!
            </span>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text"  class="form-control" id="text" placeholder="Text" value="{{widget.text}}">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text"  class="form-control" id="url" placeholder="https://i.kinja-img.com/gawker-media/image"
                   value="{{url}}">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="text"  class="form-control" id="width" placeholder="100%" value="{{widget.width}}">
        </div>
    </form>

    <form action="/api/upload"  method="post" enctype="multipart/form-data" target="_parent">
        <label for="upload">Upload</label>
        <input  name="myFile"   type="file" id="upload" class="form-control" placeholder="No file chosen"/>
        <input  name="width"    value="{{widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{widget._id}}"   style="display: none"/>
        <input  name="uid"    value="{{editWidget.uid}}" style="display: none"/>
        <input  name="wid" value="{{editWidget.wid}}"   style="display: none"/>
        <input  name="pid" value="{{editWidget.pid}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    </form>
    <br>
    <a class="btn btn-success  btn-block" href="#/user/{{editWidget.uid}}/website/{{editWidget.wid}}/page/{{editWidget.pid}}/widget/{{editWidget.wgid}}/flicker">Search Photo</a>
    <a class="btn btn-danger  btn-block" ng-click="editWidget.deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="#/user/{{editWidget.uid}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>