
<nav class="navbar navbar-dark navbar-fixed-top bg-primary">
    <div class="container-fluid row">
        <div class="col-xs-12 col-sm-12">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#/user/{{newWidget.uid}}/website/{{newWidget.wid}}/page/{{newWidget.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand">
                    Choose Widget
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li ng-repeat="type in types" class="list-group-item">
            <a href="#/user/{{newWidget.uid}}/website/{{newWidget.wid}}/page/{{newWidget.pid}}/widget/{{type._id}}">
                {{type.typeName}}
            </a>
        </li>
    </ul>

<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="#/user/{{newWidget.uid}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>