<nav class="navbar navbar-dark navbar-fixed-top bg-primary">
    <div class="container-fluid row">
        <div class="col-xs-12 col-sm-12">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#/user/{{editWidget.uid}}/website/{{editWidget.wid}}/page/{{editWidget.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand">
                    Edit Widget
                </a>
                <a class="navbar-text pull-right"
                   href="#/user/{{editWidget.uid}}/website/{{editWidget.wid}}/page/{{editWidget.pid}}/widget">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div ng-if='type'>
            <div ng-include="'views/widget/widget-'+type+'.view.client.html'"></div>
        </div>
    </form>
</div>

<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-text pull-right" href="#/user/{{editWidget.uid}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>